.newArticle {
    background-color: rgba(127, 255, 212, 0.027);
    width: 100%;
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.newArticle-container {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid black;
    margin: 10rem;
    border-radius: 3rem;
}

.title {
    width: 80%;
    margin-bottom: 2rem;

}

.content {
    width: 80%;
    margin-bottom: 2rem;

}

.description {
    width: 80%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.category {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.newArticle-buttons {
    display: flex;
    justify-content: space-between;
}

.newArticle-buttons button {
    margin-left: 1rem;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters h1 {
    margin-right: 2rem;
}

input,
textarea {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid black;
    resize: none;
    color: white;
}

/* ========================= MEDIA QUERIES (MEDIUM DEVICES) =============== */

@media screen and (max-width: 1024px) {
    .newArticle-container {
        /* background-color: red; */
        margin: 0;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .newArticle-buttons {
        width: 100%;

    }

    .newArticle-buttons span {
        /* background-color: rebeccapurple; */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        
    }
   


}

/* ========================= MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 680px) {
    .filters h1 {
        margin-right: 0;
    }

    .filters-content-load  {
        margin-bottom: 4rem;
    }

    .newArticle-buttons span {
        /* background-color: rebeccapurple; */
        width: 100%;
        
    }

}